.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 10px;
    margin: 20%;
    margin-top: 0;
  }
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .time-bar {
    padding-bottom: 50px;
  }

  .start-task-button {
    background: rgb(31, 83, 255);
    width: 10em;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
  }

  .runnig-task-button {
    background: rgb(31, 255, 35);
    font-size: 45px;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }