.name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 5vh;
    text-align: center;
    color: #cfcfcf;
}

.container {
    background-color: #102A43;
    min-height: 100vh;
    margin-top: 20vh;
}