.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  position: sticky;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.murmer {
  margin-left: 0;
}

.pomodoro {
  margin-right: 0; 
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1px solid gray;
	margin: 2px;
	padding: 10px;
}